// Navigation code here
.nav-section{
    background-color: @nav-bg;
    margin:1% auto 0;
    padding:2%;
    border: @nav-border;
    .flexMixin(@direction:column, @align:center);
    a{
        margin: 0 20px;
        font-size:2rem;
        text-decoration:none;
    }

    h1 nav{
        color:@nav-font;
        width: 100%;
        .flexMixin(@justify:space-around);
    }
}